@{
    ViewData["Title"] = "Home Page";
}


<body class="BGHomePage">
    <div class="container py-4 py-xl-5" style="margin-top:300px;">
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <a style="text-decoration:none; color: black" asp-action="GetAllVehicles" asp-controller="Vehicle">
                    <div class="card" style="border-width: 3px;border-radius: 10px;">
                        <div class="card-body p-4" style="border-radius: 10px;opacity: 0.75;">
                            <p class="card-text" style="font-size: 50px;text-align: center;">Vehicles</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a style="text-decoration:none; color: black" asp-action="GetAllVehicleTypes" asp-controller="VehicleTypes">
                    <div class="card" style="border-width: 3px;border-radius: 10px;">
                        <div class="card-body p-4" style="border-radius: 10px;opacity: 0.75;">
                            <p class="card-text" style="font-size: 50px;text-align: center;">VehicleTypes</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <div class="card" style="border-radius: 10px;border-width: 3px;">
                    <div class="card-body p-4" style="border-radius: 10px;opacity: 0.75;">
                        <p class="card-text" style="font-size: 50px;text-align: center;">Orders</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>