<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - WebAutopark</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAutopark.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="assets/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
</head>
<body>
    <header class="p-3 bg-dark" style="opacity: 0.75;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" asp-controller="Home" asp-action="Index">
                    <h1 style="font-style: italic;font-size: 32px;color: rgb(255,255,255);">Web Autopark</h1>
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="35" fill="currentColor" class="bi bi-car-front" viewBox="0 0 16 16">
                        <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17 1.247 0 2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276Z" />
                        <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.807.807 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155 1.806 0 4.037-.084 5.592-.155A1.479 1.479 0 0 0 15 9.611v-.413c0-.099-.01-.197-.03-.294l-.335-1.68a.807.807 0 0 0-.43-.563 1.807 1.807 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3H4.82Z" />
                    </svg>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link px-2" style="font-size: 20px;color: #ffffff;font-weight: bold;" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li style="font-size: 20px;color: #ffffff;"><a class="nav-link px-2" asp-controller="Vehicle" asp-action="GetAllVehicles" style="font-size: 20px;color: #cfcfcf;">Vehicles</a></li>
                    <li style="font-size: 20px;color: #cfcfcf;"><a class="nav-link px-2" asp-controller="VehicleTypes" asp-action="GetAllVehicleTypes" style="font-size: 20px;color: #cfcfcf;">VehicleTypes</a></li>
                    <li style="font-size: 20px;color: #cfcfcf;"><a class="nav-link px-2" asp-controller="Vehicle" asp-action="GetAllVehicles"  style="font-size: 20px;color: #cfcfcf;">Orders</a></li>
                    <li style="font-size: 20px;color: #cfcfcf;"><a class="nav-link px-2" asp-controller="Components" asp-action="GetAllComponents"  style="font-size: 20px;color: #cfcfcf;">Components</a></li>
                    <li style="font-size: 20px;color: #cfcfcf;"><a class="nav-link px-2" asp-controller="Home" asp-action="CreateTables" style="font-size: 20px;color: #cfcfcf;">CreateTables</a></li>
                </ul>
            </div>
        </div>
    </header>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

@*<footer class="text-white bg-dark footer" style="height:120px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-xl-6 text-center text-lg-start d-flex flex-column">
                <h1 class="d-flex justify-content-center" style="font-size: 18px;width: 233px;padding-top: 6px;">Project by Vlad Pulyak</h1>
                <h1 class="d-flex justify-content-center" style="font-size: 18px;width: 233px;">vlad.puliak@gmail.com</h1>
            </div>
            <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                <h3 class="fs-6 text-white" style="width: 261px; height: 5px; padding-top: 6px;">Vehicles</h3>
                <ul class="list-unstyled">
                    <li style="width: 261px;height: 24px;"><a class="link-light" href="#">Add vehicle</a></li>
                    <li style="width: 261px;height: 24px;"><a class="link-light" href="#">Get vehicles</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3">
                <h3 class="fs-6 text-white" style="width: 261px; height: 5px; padding-top: 6px; font-size:25px;">Orders</h3>
                <ol class="list-unstyled">
                    <li style="width: 261px;height: 24px;"><a class="link-light" href="#" style="width: 261px;height: 30px;">Add order</a></li>
                    <li style="width: 261px;height: 24px;"><a class="link-light" href="#">Get orders</a></li>
                </ol>
            </div>
        </div>
    </div>
</footer>
*@
@*<footer class="text-white bg-dark footer" style="opacity: 0.75; height: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-xl-6 text-center text-lg-start d-flex flex-column">
                <h1 class="d-flex justify-content-center" style="font-size: 18px;width: 233px;padding-top: 6px;">Project by Vlad Pulyak</h1>
                <h1 class="d-flex justify-content-center" style="font-size: 18px;width: 233px;">vlad.puliak@gmail.com</h1>
                <h1 class="d-flex justify-content-center" style="font-size: 18px;width: 233px;">+(375) 29 502-95-61 </h1>
            </div>
            <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                <h3 class="fs-6 text-white" style="width: 261px; height: 5px; padding-top: 6px;">Vehicles</h3>
                <ul class="list-unstyled">
                    <li style="width: 261px;height: 24px;"><a class="link-light" href="#">Add vehicle</a></li>
                    <li style="width: 261px;height: 24px;"><a class="link-light" href="#">Get vehicles</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3">
                <h3 class="fs-6 text-white" style="width: 261px; height: 5px; padding-top: 6px; font-size:25px;">Orders</h3>
                <ol class="list-unstyled">
                    <li style="width: 261px;height: 24px;"><a class="link-light" href="#" style="width: 261px;height: 30px;">Add order</a></li>
                    <li style="width: 261px;height: 24px;"><a class="link-light" href="#">Get orders</a></li>
                </ol>
            </div>
        </div>
    </div>
</footer>
*@
@*<footer class="d-flex flex-wrap justify-content-between align-items-center bg-lightgreen px-3 py-3">
    <p class="col-md-4 mb-0 text-white">&copy; 2022 Project by Vlad Pulyak</p>
    <div>
        <a asp-area="" asp-controller="ResortsInfo" asp-action="Home" class="d-flex align-items-center justify-content-center text-white text-decoration-none">
            <svg width="40" height="40" fill="currentColor" class="bi bi-brightness-high">
                <use xlink:href="#icon-sun" />
            </svg>
        </a>
    </div>
    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
            <a class="nav-link px-2 text-white" asp-area="" asp-controller="ResortsInfo" asp-action="Home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" asp-area="" asp-controller="AccountProfile" asp-action="GetOrders">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-white" asp-area="" asp-controller="AccountProfile" asp-action="Profile">Account</a>
        </li>
    </ul>
</footer>*@
</html>
