html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.BGAddVehicle {
    background-image: url(../images/bff153e432dfc56a4fa916ea3088f246.jpeg);
}

.BGHomePage {
    background-image: url(../images/1920x1080-px-car-Transformers-Age-of-Extinction-681870.jpg);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.link-light {
    color: #f8f9fa !important;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px var(--main-padding);
    background: var(--color-link);
    color: #fff;
    font-size: 14px;
    height: 100vh;
}

.BGUpdateVehicle {
    background-image: url(../images/1658244276_4-phonoteka-org-p-oboi-na-rabochii-stol-mashini-bmv-5.jpg);
}

.BGGetAllVehicles {
    background-image: url(../images/1667515276_6-sportishka-com-p-oboi-mashini-zhiguli-vkontakte-6.jpg);
}