@model VehicleTypes

<div>
    <h1 class="d-flex justify-content-center" style="font-style: italic;font-size: 46px;color: rgb(1,1,1);margin-bottom: 14px;">VehicleType with Id = @Model.VehicleTypeId</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>VehicleTypeId</th>
            <th>Name</th>
            <th>TaxCoefficient</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>@Model.VehicleTypeId</th>
            <th>@Model.Name</th>
            <th>@Model.TaxCoefficient</th>
        </tr>
    </tbody>
</table>